# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# C++ Build Artifacts
*.exe
*.o
*.out
*.dll
*.obj

# OS specific
.DS_Store
Thumbs.db

# Aegis Simulation Artifacts
SafeZone/          # The active "victim" folder
.AegisVault/       # The shadow backup created by ShadowVault
malware.pid        # The PID tracker for the simulated attacker
*.log              # Any text logs generated during the attack

# Project Configuration
.vscode/           # If you use VS Code (local settings)
.idea/             # If you use PyCharm
